.root{
  background-color: white;
  border-radius: 6px;
  border: 1px solid #808080;
  top:33px;
  box-shadow: 10px 4px 30px 6px rgba(128, 128, 128, 0.04);
  align-items: center;
  justify-content: space-between;
}
/* max-width: 825px;
min-width: 300px; */

.input{
  border: 0px;
}
.text{
font-family: 'Tajawal';
font-size: 16px;
margin-left: 10px;
border: 0px;
outline: 0px;
width: 280px;
}
.button{
  min-width: 44px;
}
.icon{
color: #229AF1;
width: 40px;
height: 40px;
margin-left: 5px;


}